:root {
    --purple:  #BB99DD;
}
/*Configurações gerais*/
body {
    margin: 0;
    font-family: 'Comforter', cursive;
    font-weight: 600;
    background-color: #FAF7FD;
}

/*Configuraçãos do layout da página*/
.container {
   width: 100%;
   max-width: 300px;
   margin: 0 auto;
   background-color: #FAF7FD;
} 

/*Configurações da foto de perfil*/
.perfil img {
    width: 200px;
    display: block;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    border: 2px solid var(--purple);
    border-radius: 100%;
}

/*configurações do paragrafo*/
.instagram p {
    color: var(--purple);
    text-align: center;
    margin-bottom: 30px;
}

/*Configurações dos links*/
.link div {
    border: 2px solid var(--purple);
    align-items: center;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.link a {
    color: var(--purple);
    text-decoration: none;
}

.link a:hover {
    color: #000000;
}

/*Configurações da redes sociais*/
.redes-sociais {
    margin-top: 50px;
    padding: 10px;
}
.redes-sociais a {
    margin: 31px;
}